
<div class="card" id="maincrd">
    <div class="card-body">
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Assign New Task</p>
    <input type="text" class="form-control mb-4" placeholder="Task To Perform">
    <!-- <select class="browser-default custom-select mb-4">
        <option value="" >Choose Role</option>
        <option value="1">Team Leader</option>
        <option value="2">Manager</option>
        <option value="3">Developer</option>
        <option value="4">Tester</option>
        <option value="5">SAP</option>
    </select> -->

    <input type="text"  class="form-control mb-4" placeholder="Assign To">

    <div class="form-group">
        <textarea class="form-control rounded-0" rows="3" placeholder="Role Details"></textarea>
    </div>

    <!-- Copy
    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div> -->

    <!-- Send button -->
    <div class="row">
            <div class="col-md-1"></div>
   <div class="col-md-3"><label> Start Date</label>    <!-- <p id="paraaend">End Date</p> -->
    <input type="date" class="form-control" id="strtdate" placeholder="Start date" ></div>
    <div class="col-md-3"></div>

        <div class="col-md-4"><label> End Date</label> 
    <input type="date" class="form-control" id="enddate" >
    </div></div><br>

    <button class="btn btn-info btn-block" type="submit">Assign Task</button>

</form>
</div>
</div>
