#maincrd{
    margin-left: 380px;
    margin-right: 380px;
    margin-top:60px;
}
#strtdate{
    height: 50px;
    width: 180px;
}
#paraastrt{
    text-align: left;

}
#enddate{
    height: 50px;
    width: 180px;
}